title {
color: black;
}

h1 {
color: white;
}

p {
color: white;
font-size: 20px;
}

body {
background-color: ;
background-image: url('terraria.jpeg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
height: 100vh;
}

button {
background-color: white;
color: black;
border: 2px solid black;
}

