h1 {
color: saddlebrown;
}

p {
color: saddlebrown;
}

body {
background-color: ;
background-image: url('terraria.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

button {
background-color: forestgreen;
color: saddlebrown;
border: 2px solid saddlebrown;
}